<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/aluno-atividade/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ atividade.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div id="div_aguarde">
    <ion-label>Aguarde o professor iniciar a atividade</ion-label>
  </div>
  
  <div id="div_apresentacao" style="visibility: hidden">
    <ion-item *ngIf="questaoCorrente" lines="none">
      <ion-label>
        Questão: {{ questaoCorrente.apelido }}
        <p>{{ questaoCorrente.problema }}</p>
      </ion-label>
    </ion-item>
    
    <ion-list>
      <ion-item-sliding *ngFor="let resposta of respostas">
        <ion-card>
          <ion-card-content>
            {{resposta.conteudo}}
          </ion-card-content>
          <ion-button end (click)="votar(resposta.id, resposta)" *ngIf="!alunoVotou" style="float: right; margin-right: 2%">Votar</ion-button>
        </ion-card>
      </ion-item-sliding>
    </ion-list>
  </div>
  
  <div id="div_atividadeFinalizada" style="visibility: hidden;">
    
    <ion-list lines="full">
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Disciplina</ion-label>
        <ion-input disabled="true" type="text" [(ngModel)]="atividade.disciplina"></ion-input>
      </ion-item>
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Atividade</ion-label>
        <ion-input disabled="true" type="text" [(ngModel)]="atividade.nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Término da atividade</ion-label>
        <ion-datetime disabled="true" displayFormat="DD/MM/YYYY hh:mm" [(ngModel)]="atividade.dataTermino"></ion-datetime>
      </ion-item>
      
      <ion-list>
        <ion-list-header>
          <ion-label color="primary">Questões</ion-label>
        </ion-list-header>
        <ion-item-sliding *ngFor="let questao of questoesFinalizadas">
          <ion-item lines="none">
            <ion-label>Questão: {{questao.apelido}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <p>Problema/Desafio: {{questao.problema}}</p>
          </ion-item>
          <ion-list>
            <ion-item-sliding *ngFor="let resposta of questao.respostas">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <ion-icon *ngIf="resposta.correta" name="checkmark"></ion-icon>
                    <ion-icon *ngIf="!resposta.correta" name="close"></ion-icon>
                    <ion-icon *ngIf="resposta.escolhida && resposta.correta" name="done-all" color="primary"></ion-icon>
                    <ion-icon *ngIf="resposta.escolhida && !resposta.correta" name="done-all" color="danger"></ion-icon>
                  </ion-card-title>
                </ion-card-header>
                
                <ion-card-content>
                  <p>{{resposta.conteudo}}</p>
                  <p>Pontuação: {{resposta.pontuacao}}</p>
                </ion-card-content>
              </ion-card>
            </ion-item-sliding>
          </ion-list>
          <ion-item></ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-list>
  </div>
  <!-- <div padding>
    <ion-segment [(ngModel)]="segmentAtividade" mode="ios">
      <ion-segment-button value="edicao">
        <ion-label>Informações</ion-label>
      </ion-segment-button>
      <ion-segment-button value="respostas">
        <ion-label>Respostas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="segmentAtividade">
    
    <div *ngSwitchCase="'edicao'">
      <ion-list lines="full">
        <ion-item *ngIf="atividade">
          <ion-label position="stacked">Nome</ion-label>
          <ion-input disabled="true" type="text" [(ngModel)]="atividade.nome"></ion-input>
        </ion-item>
        <ion-item *ngIf="atividade">
          <ion-label position="stacked">Problema/Desafio</ion-label>
          <ion-textarea disabled="true" rows="4" [(ngModel)]="atividade.nome"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="atividade">
          <ion-label position="stacked">Termina em</ion-label>
          <ion-datetime disabled="true" displayFormat="DD/MM/YYYY hh:mm" [(ngModel)]="atividade.dataTermino"></ion-datetime>
        </ion-item>
      </ion-list>
    </div>
    
    <div *ngSwitchCase="'respostas'">
      <ion-list>
        <ion-item-sliding *ngFor="let resposta of respostas">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Votos: {{resposta.votos}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content *ngIf="resposta.correta" color="success">
              {{resposta.conteudo}}
            </ion-card-content>
            
            <ion-card-content *ngIf="!resposta.correta">
              {{resposta.conteudo}}
            </ion-card-content>
          </ion-card>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div> -->
</ion-content>
