<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/professor-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div padding>
    <ion-segment [(ngModel)]="segmentAtividade" mode="ios">
      <ion-segment-button value="edicao">
        <ion-label>Informações</ion-label>
      </ion-segment-button>
      <ion-segment-button value="questoes">
        <ion-label>Questões</ion-label>
      </ion-segment-button>
      <ion-segment-button value="turmas">
        <ion-label>Turmas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="segmentAtividade">
    
    <div *ngSwitchCase="'edicao'">
      <ion-list lines="full">
        <ion-item *ngIf="atividade">
          <ion-label position="stacked">Disciplina</ion-label>
          <ion-input required type="text" max-length="5" [(ngModel)]="atividade.disciplina"></ion-input>
        </ion-item>
        <ion-item *ngIf="atividade">
          <ion-label position="stacked">Nome</ion-label>
          <ion-input required type="text" max-length="10" [(ngModel)]="atividade.nome"></ion-input>
        </ion-item>
        <ion-item *ngIf="atividade">
          <ion-label position="stacked">Termina em</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="atividade.dataTermino"></ion-datetime>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="save()">Salvar</ion-button>
      <ion-button expand="full" (click)="gerarCodigoTurma()">Gerar turma</ion-button>
      <ion-button expand="full" (click)="apresentar()">Apresentar</ion-button>
    </div>
    
    <div *ngSwitchCase="'questoes'">
      <ion-list>
        <ion-item-sliding *ngFor="let questao of questoes">
          <ion-item lines="inset" button [routerLink]="['/professor-questao-edicao', questao.id]">
            <ion-label>{{ questao.apelido }}</ion-label>
          </ion-item>
          
          <ion-item-options side="end">
            <ion-item-option (click)="onRemoveQuestao(questao.id)" color="danger">
              <ion-label>Apagar</ion-label>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/professor-questao/atividade', idAtividade]" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    
    <div *ngSwitchCase="'turmas'">
      <ion-list>
        <ion-list-header>
          <ion-label color="primary">Nome | Token</ion-label>
        </ion-list-header>
        <ion-item-sliding *ngFor="let turma of turmas">
          <ion-item lines="inset" button [routerLink]="['/professor-turma-edicao/', turma.id]">
            <ion-label>{{ turma.nome }} | {{ turma.token }}</ion-label>
          </ion-item>
          
          <ion-item-options side="end">
            <ion-item-option (click)="onRemoveTurma(turma.id)" color="danger">
              <ion-label>Apagar</ion-label>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    
  </div>
</ion-content>
