<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/professor-atividade/"></ion-back-button>
    </ion-buttons>
    <ion-title>Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div padding>
    <ion-list lines="full">
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Disciplina</ion-label>
        <ion-input required type="text" max-length="5" [(ngModel)]="atividade.disciplina"></ion-input>
      </ion-item>
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Nome</ion-label>
        <ion-input required type="text" max-length="10" [(ngModel)]="atividade.nome"></ion-input>
      </ion-item>
      <!-- <ion-item *ngIf="atividade">
        <ion-label position="stacked">Termina em</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="atividade.dataTermino"></ion-datetime>
      </ion-item> -->
    </ion-list>
    <ion-button expand="full" (click)="save()">Salvar</ion-button>
  </div>
</ion-content>
