<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div padding>
    <ion-list lines="full">
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Nome</ion-label>
        <ion-input required type="text" [(ngModel)]="atividade.nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Problema/Desafio</ion-label>
        <ion-textarea required rows="4" [(ngModel)]="atividade.problema"></ion-textarea>
      </ion-item>
      <!-- <ion-item *ngIf="atividade">
        <ion-select required placeholder="Tipo" [(ngModel)]="atividade.tipo">
          <ion-select-option value="M">Multipla escolha</ion-select-option>
          <ion-select-option value="D">Descritiva</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item *ngIf="atividade">
        <ion-label position="stacked">Termina em</ion-label>
        <ion-datetime required displayFormat="DD/MM/YYYY hh:mm" [(ngModel)]="atividade.dataTermino"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="save()">Salvar</ion-button>
</div>
</ion-content>
